<div class="rs-breadcrumbs img4">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">FAQs</h1>
      <div class="breadcrumbs-title">
        <span><a title="Help" routerLink="/help-page">Help</a></span>
        <span class="post">General FAQs</span>
      </div>
    </div>
  </div>
</div>
<div class="rs-faq faq-style1 pt-70 pb-70 md-pt-80 md-pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pr-55 md-pr-15 md-mb-50">
        <div class="faq-content">
          <div id="accordion" class="accordion">
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                >
                  1. Why do you need my documents while registration?</a
                >
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  We are regulated by Financial Conduct Authority in the UK. It
                  is our legal binding to verify your identity as a UK resident.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                >
                  2. How can I cancel my transfer?</a
                >
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  Please call us or email us at earliest possible if you want to
                  cancel your transfer. Transfer paid out to the recipient
                  cannot be cancelled. If you have paid for your transfer and
                  the transfer is not processed yet, then please contact us by
                  phone and we will make necessary arrangements for refunds. We
                  may charge you a small fee as handling/service charge and
                  refund you the balance amount.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                >
                  3. Will I get notifications about Transfer status?</a
                >
              </div>
              <div
                id="collapseThree"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  Yes. We send email notifications to keep you informed. You can
                  even view the transfer status by signing in into your web
                  account.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                >
                  4. How many recipients I can add?</a
                >
              </div>
              <div
                id="collapseFour"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  There is no restriction on the number of recipients you may
                  have on your account.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  >5. You asked me to upload one more document; how can I do
                  that?</a
                >
              </div>
              <div
                id="collapseFive"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  Please login in to your account and under My Account you will
                  find document section where you can upload the document.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                >
                  6. How can I pay for my transfer?</a
                >
              </div>
              <div
                id="collapseSix"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  Bank Transfer to our business account and payments made by
                  using credit or debit cards. Bank Transfer is the recommended
                  and preferred method of payment. There may be restrictions on
                  credit and debit card payment as well as there may be a fee
                  charged on top.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven"
                  aria-expanded="false"
                  >7. Why I received email stating transfer complete, but the
                  money is not with recipient?</a
                >
              </div>
              <div
                id="collapseSeven"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  Our pay-out partner bank/agent may have completed the transfer
                  process but the recipient's bank would not have displayed it
                  in their account. Please allow couple of hours to be
                  displayed, if the problem persists then please contact our
                  support team. We will make sure money is with your recipient
                  as promised.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseEight"
                  aria-expanded="false"
                  >8. Good to know</a
                >
              </div>
              <div
                id="collapseEight"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  <ul class="check-lists">
                    <li>
                      <i class="far fa-dot-circle"></i> Age: 18 years and above
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> We will verify your
                      identity, this will not affect your credit ratings
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> You must be resident of
                      the UK
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> Activation of account
                      will be based on the documents you provide
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> Monthly sending limits
                      may apply
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseNine"
                  aria-expanded="false"
                >
                  9. Documents Required</a
                >
              </div>
              <div
                id="collapseNine"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  <ul class="check-lists">
                    <li>
                      <i class="far fa-dot-circle"></i> Photo Identity Proof
                      (Passport, EU Nationality card or UK Driving License)
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> Address Proof (Utility
                      bill, Bank Statement, Council Tax bill not less than 3
                      months old)
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> Source of funds document
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> Company Houses
                      Registration (mandatory for Corporate Accounts).
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> Company Address Proof
                      (mandatory for Corporate Accounts).
                    </li>
                    <li>
                      <i class="far fa-dot-circle"></i> Company Bank Statement
                      (mandatory for Corporate Accounts).
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
