.action-button {
  width: 100px;
  background: #d20000;
  font-weight: 400;
  color: #fff;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 30px;
  margin: 10px 5px 10px 0;
  font-size: 14px;
  -webkit-appearance: none;
  border: 1px solid #d20000;
}

#progressbar a {
    cursor: pointer;
}