<div class="rs-breadcrumbs img4">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">Onboarding</h1>
      <div class="breadcrumbs-title">
        <span><a title="Help" routerLink="/help-page">Help</a></span>
        <span class="post">KYC Upload</span>
      </div>
    </div>
  </div>
</div>
<div class="rs-faq pt-70 pb-70 md-pt-80 md-pb-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <div class="card px-0 pb-0 mb-3">
          <h2 id="heading">KYC Documents Upload</h2>
          <p class="mt-2">
            On our mobile app to complete your onboarding process we require
            your Photo ID and a selfie. We use ID Scan solution which takes less
            than a minute to complete this for you.
          </p>
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-12">
              <!-- Button trigger modal -->
              <a
                class="popup-videos videobtn"
                href="https://www.youtube.com/watch?autoplay=1&amp;loop=1&amp;rel=0&amp;showinfo=0&amp;v=qceO0YPfcVo"
                savefrom_lm_index="0"
                savefrom_lm="1"
              >
                <i class="fa fa-play"></i> &ensp;Watch Explainer Video </a
              ><span style="padding: 0; margin: 0; margin-left: 5px"
                ><a
                  href="http://savefrom.net/?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fautoplay%3D1%26loop%3D1%26rel%3D0%26showinfo%3D0%26v%3DqceO0YPfcVo&amp;utm_source=userjs-chrome&amp;utm_medium=extensions&amp;utm_campaign=link_modifier"
                  target="_blank"
                  title="Получи прямую ссылку"
                  savefrom_lm="1"
                  savefrom_lm_is_link="1"
                  style="
                    background-image: url('data:image/gif;base64,R0lGODlhEAAQAOZ3APf39+Xl5fT09OPj4/Hx8evr6/3+/u7u7uDh4OPi497e3t7e3/z8/P79/X3GbuXl5ubl5eHg4WzFUfb39+Pj4lzGOV7LOPz7+/n6+vn5+ZTLj9/e387Ozt7f3/7+/vv7/ISbePn5+m/JV1nRKXmVbkCnKVrSLDqsCuDh4d/e3uDn3/z7/H6TdVeaV1uSW+bn5v39/eXm5eXm5kyHP/f39pzGmVy7J3yRd9/f3mLEKkXCHJbka2TVM5vaZn6Wdfn6+YG/c/r5+ZO/jeLi41aHTIeageLn4f39/vr6+kzNG2PVM5i+lomdf2CXYKHVmtzo2YXNeDqsBebl5uHh4HDKWN3g3kKqEH6WeZHTXIPKdnSPbv79/pfmbE7PHpe1l4O8dTO5DODg4VDLIlKUUtzo2J7SmEWsLlG4NJbFjkrJHP7+/VK5Nfz8+zmnC3KKa+Hg4OHh4Y63j/3+/eDg4Ojo6P///8DAwP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAHcALAAAAAAQABAAAAfWgHd2g4SFhYJzdYqLjIpzgx5bBgYwHg1Hk2oNDXKDFwwfDF5NLmMtcStsn4MhGT8YS04aGmU1QRhIGYMTADQAQlAODlloAMYTgwICRmRfVBISIkBPKsqDBAREZmcVFhYVayUz2IMHB1dWOmImI2lgUVrmgwUFLzdtXTxKSSduMfSD6Aik48MGlx05SAykM0gKhAAPAhTB0oNFABkPHg5KMIBCxzlMQFQZMGBIggSDpsCJgGDOmzkIUCAIM2dOhEEcNijQuQDHgg4KOqRYwMGOIENIB90JBAA7');
                    background-repeat: no-repeat;
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    border: none;
                    text-decoration: none;
                    padding: 0px;
                    position: relative;
                  "
                ></a
              ></span>
            </div>
          </div>
          <div id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
              <a href="onboarding">
                <li class="active" id="confirm">
                  <strong>1) Scanning Your Id</strong>
                </li>
              </a>
              <a href="livenesscheck">
                <li id="confirm"><strong>2) Liveness Check</strong></li>
              </a>
              <a href="finish">
                <li id="confirm"><strong>Finish</strong></li>
              </a>
            </ul>
            <!-- fieldsets -->
            <fieldset>
              <div class="form-card">
                <div class="row justify-content-center">
                  <h4 class="mb-4">How To Scan Id?</h4>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="card cardcss">
                      <img
                        class="card-img-top"
                        src="assets/images/photo/scanid1.png"
                        alt="How to scan Id?"
                      />
                      <div class="card-body">
                        <p class="card-text">
                          Try not to take the photo from any other angle. It
                          will work regardless, but parallel is better.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="card cardcss">
                      <img
                        class="card-img-top"
                        src="assets/images/photo/scanid2.png"
                        alt="How to scan Id?"
                      />
                      <div class="card-body">
                        <p class="card-text">
                          Try not to take the photo from any other angle. It
                          will work regardless, but parallel is better.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="hrcss" />
                <div class="row justify-content-center">
                  <h4 class="mb-4 mt-2">What to avoid?</h4>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="card cardcss">
                      <img
                        class="card-img-top"
                        src="assets/images/photo/scanid4.png"
                        alt=" What to avoid?"
                      />
                      <div class="card-body">
                        <p class="card-text">Please avoid flash or glares.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="card cardcss">
                      <img
                        class="card-img-top"
                        src="assets/images/photo/scanid6.png"
                        alt=" What to avoid?"
                      />
                      <div class="card-body">
                        <p class="card-text">
                          Please avoid shadows over the ID.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="card cardcss">
                      <img
                        class="card-img-top"
                        src="assets/images/photo/scanid7.png"
                        alt=" What to avoid?"
                      />
                      <div class="card-body">
                        <p class="card-text">
                          Please remove any background clutter.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="card cardcss">
                      <img
                        class="card-img-top"
                        src="assets/images/photo/scanid3.png"
                        alt=" What to avoid?"
                      />
                      <div class="card-body">
                        <p class="card-text">
                          Please make sure your details aren't blurry.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="card cardcss">
                      <img
                        class="card-img-top"
                        src="assets/images/photo/scanid5.png"
                        alt=" What to avoid?"
                      />
                      <div class="card-body">
                        <p class="card-text">
                          Please make sure you are not cropping or skewing the
                          ID.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="livenesscheck" type="button" class="next action-button"
                >Next</a
              >
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
