<footer id="rs-footer" class="rs-footer footer-main-home">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 md-mb-20">
          <div class="footer-logo mb-51 md-mb-30">
            <a href="home"> <img src="assets/images/logo.png" alt="" /></a>
          </div>
          <div class="textwidget mb-33">
            We are regulated by FCA in the UK with reference number 929771. Our
            companies house registration reference is 12362277.
          </div>
          <ul class="app-store">
            <li>
              <a href="#">
                <img src="assets/images/footer/playstore.png" alt=""
              /></a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/footer/appstore.png" alt=""
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 pl-76 md-pl-15 md-mb-10">
          <h3 class="footer-title">Quick Links</h3>
          <ul class="site-map">
            <li><a routerLink="/home-page">Home</a></li>
            <li>
              <a routerLink="/money-transfer">Money Transfer to Albania</a>
            </li>
            <li><a routerLink="/refer-a-friend">Refer A Friend</a></li>
          </ul>
        </div>
        <div class="col-lg-3 pl-75 md-pl-15 md-mb-10">
          <h3 class="footer-title">Legals</h3>
          <ul class="site-map">
            <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="/complaint-policy">Complaints Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h3 class="footer-title">Contact Info</h3>
          <ul class="address-widget">
            <li>
              <i class="fi fi-rr-map-marker-home"></i>
              <div class="desc">
                545b Green Lanes Green Lanes, London,<br />
                England, N8 0RL
              </div>
            </li>
            <li>
              <i class="fi fi-rr-phone-call"></i>
              <div class="desc">
                <a href="tel:447776793651">+44 07776793651</a>
              </div>
            </li>
            <li>
              <i class="fi fi-rr-envelope-plus"></i>
              <div class="desc">
                <a href="mailto:info@valutexchange.co.uk"
                  >info@valutexchange.co.uk</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row y-middle">
        <div class="col-lg-4 md-mb-10 text-lg-end text-center order-last">
          <ul class="footer-social md-mb-7">
            <li>
              <a href="#" target="_blank"
                ><span><i class="fa fa-facebook"></i></span
              ></a>
            </li>
            <li>
              <a href="# " target="_blank"
                ><span><i class="fa fa-twitter"></i></span
              ></a>
            </li>

            <li>
              <a href="# " target="_blank"
                ><span><i class="fa fa-pinterest-p"></i></span
              ></a>
            </li>
            <li>
              <a href="# " target="_blank"
                ><span><i class="fa fa-instagram"></i></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="copyright text-lg-start text-center">
            <p>
              Copyright ©
              <script type="text/javascript ">
                document.write(new Date().getFullYear());
              </script>
              2023 <a href="home">Valut</a>. All Rights Reserved. | Powered By
              <a
                href="https://www.calyx-solutions.com/ "
                class="author_link"
                target="_blank "
                >Calyx Solutions.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
