<div class="rs-breadcrumbs img4">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">FAQs</h1>
      <div class="breadcrumbs-title">
        <span><a title="Help" routerLink="/help-page">Help</a></span>
        <span class="post">Onboarding FAQs</span>
      </div>
    </div>
  </div>
</div>
<div class="rs-faq faq-style1 pt-70 pb-70 md-pt-80 md-pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pr-55 md-pr-15 md-mb-50">
        <div class="faq-content">
          <div id="accordion" class="accordion">
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  >1. I'm getting a black blank screen. What should I do?</a
                >
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  <p class="text-muted">
                    Does your screen look something like this?
                  </p>
                  <div class="row">
                    <div class="col-6 col-md-5 col-lg-2">
                      <div class="cardcss">
                        <img
                          class="card-img-top"
                          src="assets/images/photo/blankscreen1.png"
                          alt="I'm getting a black blank screen. What should I do?"
                        />
                      </div>
                    </div>
                    <div class="col-6 col-md-5 col-lg-2">
                      <div class="cardcss">
                        <img
                          class="card-img-top"
                          src="assets/images/photo/blankscreen2.png"
                          alt="I'm getting a black blank screen. What should I do?"
                        />
                      </div>
                    </div>
                  </div>
                  <p class="text-muted">
                    This means the CAMERA access to your default BROWSER is
                    denied. Please follow the steps below to Allow camera
                    access.
                  </p>

                  <!-- Nav pills -->
                  <ul class="nav nav-pills style1" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-bs-toggle="pill"
                        href="#iOS"
                        >IOS</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="pill" href="#android"
                        >Android</a
                      >
                    </li>
                  </ul>

                  <!--end nav pills-->
                  <div class="row">
                    <div class="col-12 mt-1 pt-1">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="iOS">
                          <div class="row align-items-center">
                            <div class="col-md-12 mt-1 mt-sm-0 pt-0 pt-sm-0">
                              <div class="full mb-1">
                                <div
                                  class="row wow fadeInUp animated animated"
                                  data-wow-delay="0.4s"
                                  style="
                                    visibility: hidden;
                                    animation-delay: 0.4s;
                                    animation-name: none;
                                  "
                                >
                                  <div
                                    class="col-12 col-md-12 col-xs-12 offset-xs-1"
                                  >
                                    <p class="text-muted">
                                      i. Go to Settings → Safari
                                    </p>
                                    <div class="row">
                                      <div class="col-12 col-md-5 col-lg-3">
                                        <div class="cardcss">
                                          <img
                                            class="card-img-top"
                                            src="assets/images/photo/apple1.png"
                                            alt="Step1"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <p class="text-muted">
                                      ii. Scroll to find "Camera" under SETTINGS
                                      FOR WEBSITES section
                                    </p>
                                    <div class="row">
                                      <div class="col-12 col-md-5 col-lg-3">
                                        <div class="cardcss">
                                          <img
                                            class="card-img-top"
                                            src="assets/images/photo/apple2.png"
                                            alt="Step2"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <p class="text-muted">
                                      iii. Tap on Camera option and you will be
                                      navigated to CAMERA ACCESS ON ALL
                                      WEBSITES. Tap on "Allow" option.
                                    </p>
                                    <div class="row">
                                      <div class="col-12 col-md-5 col-lg-3">
                                        <div class="cardcss">
                                          <img
                                            class="card-img-top"
                                            src="assets/images/photo/apple3.png"
                                            alt="Step1"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <!--end teb pane-->
                        <div class="tab-pane fade" id="android" role="tabpanel">
                          <div class="row align-items-center">
                            <div class="col-md-12 mt-1 mt-sm-0 pt-0 pt-sm-0">
                              <p class="text-muted">
                                i. Go to Settings and tap on Apps
                              </p>
                              <div class="row">
                                <div class="col-12 col-md-5 col-lg-3">
                                  <div class="cardcss">
                                    <img
                                      class="card-img-top"
                                      src="assets/images/photo/ad1.png"
                                      alt="Step1"
                                    />
                                  </div>
                                </div>
                              </div>
                              <p class="text-muted">
                                ii. Scroll to find your default browser app.
                                Mostly it is Google Chrome for Android device,
                                unless explicitly changed.
                              </p>
                              <div class="row">
                                <div class="col-12 col-md-5 col-lg-3">
                                  <div class="cardcss">
                                    <img
                                      class="card-img-top"
                                      src="assets/images/photo/ad2.png"
                                      alt="Step2"
                                    />
                                  </div>
                                </div>
                              </div>
                              <p class="text-muted">
                                iii. Chrome → Permissions will show you what is
                                enabled. Camera permission need to be enabled
                                here.
                              </p>
                              <div class="row">
                                <div class="col-12 col-md-5 col-lg-3">
                                  <div class="cardcss">
                                    <img
                                      class="card-img-top"
                                      src="assets/images/photo/ad3.png"
                                      alt="Step3"
                                    />
                                  </div>
                                </div>
                              </div>
                              <p class="text-muted">
                                iv. App permissions will show what is allowed
                                and what's denied.
                              </p>
                              <div class="row">
                                <div class="col-12 col-md-5 col-lg-3">
                                  <div class="cardcss">
                                    <img
                                      class="card-img-top"
                                      src="assets/images/photo/ad4.png"
                                      alt="Step4"
                                    />
                                  </div>
                                </div>
                              </div>
                              <p class="text-muted">
                                v. Tap on Camera to Allow camera permission to
                                Chrome.
                              </p>
                              <div class="row">
                                <div class="col-12 col-md-5 col-lg-3">
                                  <div class="cardcss">
                                    <img
                                      class="card-img-top"
                                      src="assets/images/photo/ad5.png"
                                      alt="Step5"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--end col-->
                          </div>
                          <!--end row-->
                        </div>
                        <!--end teb pane-->
                      </div>
                      <!--end tab content-->
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  >2) I'm getting error message saying, "Wrong ID document or
                  something went wrong..."</a
                >
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                data-bs-parent="#accordion"
                style=""
              >
                <div class="card-body">
                  <p class="text-muted">
                    Does your screen look something like this?
                  </p>
                  <div class="row">
                    <div class="col-6 col-md-5 col-lg-3">
                      <div class="cardcss">
                        <img
                          class="card-img-top"
                          src="assets/images/photo/ID Upload failure.png"
                          alt="Wrong ID document or something went wrong."
                        />
                      </div>
                    </div>
                  </div>
                  <p class="mt-2 text-muted">
                    This means the ID you uploaded is not supported or was
                    having glare or blur while uploading. This may have resulted
                    us in not been able to capture ID details. Please give it
                    another try or contact our support team.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
