.rs-faq.faq-style1 {
  position: relative;
}
.accordion {
  border-width: 12px;
}
.accordion .card {
  margin-bottom: 30px;
  border: none;
  background-color: #f1f6fc;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.02);
}
.accordion .card .card-header {
  display: flex;
  align-items: center;
  padding: 0 !important;
  border: none;
  background: #fff;
}
.accordion .card .card-header .card-link {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 29px;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 25px 17px 25px;
  border-radius: 0px 10px 0px 10px;
  background-color: #d20000;
  color: #ffffff;
}

.accordion .card .card-header .card-link:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f068";
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
  line-height: 26px;
  color: #ffffff;
  text-align: right;
  right: 20px;
  margin-top: -2px;
}

.accordion .card .card-header .card-link.collapsed {
  background-color: #FFFFFF;
  color: #032e42;
  padding: 17px 25px 17px 25px;
  border-radius: 0px 10px 0px 10px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.18);
}

.accordion .card .card-header .card-link.collapsed:after {
  color: #032e42;
  content: "\f067";
}

.accordion .card .card-body {
  background-color: #fff;
  color: #666666;
  font-size: 16px;
  width: 100%;
  padding: 30px 25px 30px 25px !important;
}
.fadeInUp {
  animation-duration: 1.25s;
  animation-name: fadeInUp;
}
