<div class="rs-breadcrumbs img4">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">Contact Us</h1>
      <div class="breadcrumbs-title">
        <span><a routerLink="/help-page">Help</a></span>
        <span class="post">Contact Us</span>
      </div>
    </div>
  </div>
</div>
<div class="rs-contact contact-style3 pt-70 pb-70 md-pt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 md-mb-60">
        <div class="contact-box">
          <div class="sec-title mb-45 md-mb-30">
            <span class="sub-text sub-text3">Contact Information</span>
            <h2 class="title">
              Queries, complaints and feedback. We will be happy to serve you
            </h2>
          </div>
          <div class="address-box mb-25">
            <div class="address-icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="address-text">
              <span class="label">Address:</span>
              <div class="desc">
                545b Green Lanes Green Lanes, London, England, N8 0RL
              </div>
            </div>
          </div>
          <div class="address-box mb-25">
            <div class="address-icon">
              <i class="fa fa-envelope-o"></i>
            </div>
            <div class="address-text">
              <span class="label">Email:</span>
              <a href="mailto:info@valutexchange.co.uk"
                >info@valutexchange.co.uk</a
              >
            </div>
          </div>
          <div class="address-box">
            <div class="address-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="address-text">
              <span class="label">Phone:</span>
              <a href="tel:447776793651">+44 07776793651</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pl-70 md-pl-15">
        <div class="contact-wrap">
          <div id="form-messages"></div>
          <form>
            <fieldset>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                  <input
                    class="from-control"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Name"
                    required=""
                    style="
                      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=');
                      background-repeat: no-repeat;
                      background-attachment: scroll;
                      background-size: 16px 18px;
                      background-position: 98% 50%;
                      cursor: auto;
                    "
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                  <input
                    class="from-control"
                    type="text"
                    id="email"
                    name="email"
                    placeholder="E-Mail"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                  <input
                    class="from-control"
                    type="text"
                    id="phone"
                    name="phone"
                    placeholder="Phone Number"
                    required=""
                  />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                  <input
                    class="from-control"
                    type="text"
                    id="subject"
                    name="subject"
                    placeholder="Subject"
                    required=""
                  />
                </div>
                <div class="col-lg-12 mb-30">
                  <textarea
                    class="from-control"
                    id="message"
                    name="message"
                    placeholder="Message"
                    required=""
                  ></textarea>
                </div>
                <div class="col-lg-12 mb-30">
                  <div
                    class="g-recaptcha"
                    data-sitekey="6Lcbh44iAAAAAJ4WlGgjl0zctshc6I8ZAhVJgydJ"
                    style="margin-top: 7px"
                  >
                    <div style="width: 304px; height: 78px">
                      <div>
                        <!-- <iframe
                          title="reCAPTCHA"
                          width="304"
                          height="78"
                          role="presentation"
                          name="a-o7we9juyhwg6"
                          frameborder="0"
                          scrolling="no"
                          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                          src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lcbh44iAAAAAJ4WlGgjl0zctshc6I8ZAhVJgydJ&amp;co=aHR0cHM6Ly92YWx1dGV4Y2hhbmdlLmNvLnVrOjQ0Mw..&amp;hl=ru&amp;v=MydHw_zggsxIJuhSbyOmPv5R&amp;size=normal&amp;cb=a2zr96b3vlkb"
                        ></iframe> -->
                      </div>
                      <textarea
                        id="g-recaptcha-response"
                        name="g-recaptcha-response"
                        class="g-recaptcha-response"
                        style="
                          width: 250px;
                          height: 40px;
                          border: 1px solid rgb(193, 193, 193);
                          margin: 10px 25px;
                          padding: 0px;
                          resize: none;
                          display: none;
                        "
                      ></textarea>
                    </div>
                  </div>
                  <span id="Span1" style="color: red"></span>
                </div>
              </div>
              <div class="btn-part">
                <div class="form-group mb-0">
                  <input class="readon submit" type="submit" value="Submit" />
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
