::selection {
  background: #d20000;
  text-shadow: none;
  color: #ffffff;
}

.y-middle {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.service-charge-wrap .charge-form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.service-charge-wrap .charge-form .form-group label {
  display: block;
  margin: 0 0 15px;
  line-height: 1;
  color: #333;
}
.service-charge-wrap .charge-form .form-group select.myselect {
  width: 100%;
  height: 55px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #d20000;
  padding: 10px 7px;
  color: #292929;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  bottom: 0px;
  right: 0;
  background-image: url(/assets/images/down-arrow.png);
  background-position: 65% 50%;
  background-repeat: no-repeat, repeat;
}
.service-charge-wrap .charge-form .form-group select {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #d20000;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 54px;
  padding: 15px 10px;
  border: none;
  background-image: url(/assets/images/down-arrow-2.png);
  background-size: 12px;
  background-position: 85% 53%;
}
.service-charge-wrap .charge-form .form-group img {
  position: absolute;
  bottom: 0;
  right: 100px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
}
.service-charge-wrap .charge-form .form-group span.inputgbp {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #d20000;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 54px;
  padding: 15px 10px;
  border: none;
  background-size: 12px;
  background-position: 85% 53%;
}

.service-charge-wrap .charge-form .form-group input {
  width: 100%;
  height: 54px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #d20000;
  padding: 10px 7px;
  color: #292929;
  font-weight: bolder;
  font-size: 20px;
}
.service-charge-wrap .charge-form .amount-currency-info {
  position: relative;
  z-index: 1;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.service-charge-wrap .charge-form .amount-currency-info::before {
  content: "";
  position: absolute;
  top: -23px;
  left: 26px;
  width: 2px;
  height: 100px;
  background-color: #dbd9d9;
  z-index: -1;
}
.service-charge-wrap .charge-form .amount-currency-info li {
  margin-bottom: 15px;
}
.service-charge-wrap .charge-form .amount-currency-info li .info-icon i {
  display: inline-block;
  height: 15px;
  width: 15px;
  line-height: 30px;
  background-color: #d20000;
  text-align: center;
  font-size: 1px;
  color: #d20000;
  border-radius: 50%;
}
.service-charge-wrap .charge-form .amount-currency-info li .info-icon strong {
  color: #d20000;
  margin-left: 15px;
}
.service-charge-wrap .charge-form .amount-currency-info li .info-right {
  position: relative;
  padding-right: 35px;
}
.service-charge-wrap .charge-form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.service-charge-wrap .charge-form .form-group label {
  display: block;
  margin: 0 0 15px;
  line-height: 1;
  color: #333;
}
.service-charge-wrap .charge-form p:last-child {
  margin: 0;
  padding: 0;
}
.service-charge-wrap .charge-form p {
  display: inline-block;
  color: #333;
  margin: 0 15px 0 0;
  padding-right: 15px;
  position: relative;
}
.service-charge-wrap .charge-form p {
  font-size: 14px;
}
.service-charge-wrap .charge-form .form-btn {
  margin-top: 5px;
}
.service-charge-wrap .charge-form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.service-charge-wrap .charge-form a {
  font-size: 15px;
  background: #d20000;
  padding: 15px 30px;
  border-radius: 0px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  position: relative;
  overflow: hidden;
  top: 3px;
  border-radius: 0 10px 0 10px;
  border: 1px solid #d20000;
}

.rs-choose.choose-style1 .services-item {
  display: flex;
}
.rs-choose.choose-style1 .services-item .services-icon img {
  height: 50px;
  width: 50px;
  max-width: unset;
}
.rs-choose.choose-style1 .services-item .services-content {
  padding: 2px 0px 0px 15px;
}
.rs-choose.choose-style1 .services-item .services-content .title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #032e42;
  margin: 0 0 10px;
}
.rs-choose.choose-style1 .services-item .services-content .services-txt {
  color: #666666;
  margin: 0;
}
.rs-about.about-style2 {
  position: relative;
  z-index: 11;
}
.gray-bg {
  background: #fbfbfb;
}
.rs-about.about-style2 .images-part {
  position: relative;
}
.sec-title {
  position: relative;
}

.sec-title .title.title3 {
  font-weight: 800;
}
@media only screen and (max-width: 1366px) {
  .rs-about.about-style2 .sec-title .title.title3 {
    font-size: 34px;
    line-height: 44px;
  }
}
.sec-title .desc.desc2 {
  color: #333333;
}
.sec-title .desc {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #666666;
  margin: 0;
}
ul.check-lists li {
  padding-left: 35px;
  position: relative;
  margin-top: 12px;
  margin-bottom: 15px;
}
ul.check-lists li:before {
  content: "\f160";
  font-size: 18px;
  color: #d20000;
  margin: 0;
  display: inline-block;
  font-family: uicons-regular-rounded !important;
  font-weight: 600;
  text-align: center;
  position: absolute;
  left: 0;
  top: -2px;
}
.sec-title .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  color: #032e42;
  margin: 0;
}
.rs-process.process-style1 .process-widgets {
  margin: 55px 0px 30px 0px;
}
.rs-process.process-style1 .process-widgets .services-item {
  display: flex;
}

.rs-process.process-style1 .process-widgets .services-item .services-icon {
  text-align: center;
  transition: all ease 0.3s;
  display: inline-block;
  line-height: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
}
.rs-process.process-style1 .process-widgets .services-item .services-icon img {
  height: 40px;
  width: 40px;
  max-width: unset;
}
.rs-process.process-style1 .process-widgets .services-item .services-content {
  padding: 16px 0px 0px 8px;
  margin: -10px 0px 0px 15px;
}
@media only screen and (max-width: 1366px) {
  .rs-process.process-style1
    .process-widgets
    .services-item
    .services-content
    .title {
    font-size: 17px;
    line-height: 22px;
  }
}
.rs-process.process-style1
  .process-widgets
  .services-item
  .services-content
  .title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: #032e42;
  margin: 0 0 10px;
}
.rs-process.process-style1
  .process-widgets
  .services-item
  .services-content
  .services-txt {
  margin: 0;
}
@media only screen and (max-width: 1366px) {
  .rs-process.process-style1 .process-widgets .services-item .services-icon {
    line-height: 70px;
    min-width: 70px;
    height: 70px;
  }
}
@media only screen and (max-width: 1366px) {
  .rs-about.about-style2 .sec-title .title.title3 {
    font-size: 34px;
    line-height: 44px;
  }
}
