.full-width-header {
  position: relative;
}

.rs-header {
  position: relative;
}

.topbar-style1 {
  max-width: 1170px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
  background: #333;
}

.rs-contact-info li {
  display: inline-block;
  line-height: 50px;
  font-size: 15px;
  color: #ffffff;
  margin-right: 46px;
}

.rs-contact-info li i {
  color: #d20000;
  margin-right: 6px;
}

.rs-contact-info li i:before {
  font-size: 18px;
  margin-left: 0;
  position: relative;
  top: 3px;
}

.rs-contact-info li a {
  color: #ffffff;
}

.clearfix {
  text-align: right;
  margin: 0px;
  padding: 0;
}

.clearfix li {
  display: inline-block;
  line-height: 50px;
  margin-right: 13px;
}

.clearfix li a i {
  font-size: 15px;
  color: #ffffff;
}

.clearfix li a i:hover {
  color: #d20000;
}

.menu-area {
  position: relative;
  transition: all 0.3s ease 0s;
  z-index: 10;
}

.menu-area .row-table {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex: 1;
}

.col-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area img {
  transition: 0.4s;
  max-height: 60px;
}

.sticky-logo {
  display: none;
}

.rs-menu-area {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.main-menu {
  position: unset;
}

.rs-menu ul.nav-menu li {
  display: inline-block;
  margin-right: 32px;
  padding: 0;
}

.rs-menu ul.nav-menu li.current-menu-item > a {
  color: #d20000 !important;
}

.expand-btn-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expand-btn-inner ul {
  display: flex;
  align-items: center;
}

.expand-btn-inner ul .btn-quote {
  position: relative;
  margin-left: 30px;
  line-height: 30px;
}

.hamburger {
  display: none;
}

.menu-area .quote-button {
  font-size: 15px;
  background: #d20000;
  padding: 10px 30px;
  border-radius: 0px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  position: relative;
  overflow: hidden;
  top: 3px;
  border-radius: 0 10px 0 10px;
  border: 1px solid #d20000;
}

.nav-expander .bar {
  padding: 16px 13px 16px;
  background: transparent;
  max-width: 50px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  padding-right: 0;
  margin-right: -4px;
}

.nav-expander .bar span {
  height: 5px;
  width: 5px;
  display: block;
  background: #d20000;
  border-radius: 50%;
  transition: none;
  list-style: none;
  transition: all 0.3s ease;
  margin: 2px 3px;
}

.dot {
  background: #d20000;
}

.close-btn {
  overflow: visible;
  position: absolute;
  top: 10px;
  display: block;
  z-index: 99;
  right: 57px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-close .line {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.nav-close .line span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 1px !important;
  height: 25px !important;
  background: #d20000;
  border: none !important;
  transition: all 0.3s ease;
}

.nav-close .line span.line2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.mobile-navbar-menu .nav-menu li {
  position: relative;
}

.mobile-navbar-menu .nav-menu li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: block;
  color: #333;
  padding: 10px 0;
  line-height: 30px;
  width: 100%;
}

.rs-menu ul.nav-menu li a {
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  height: 108px;
  line-height: 108px;
  padding: 0;
  color: #3b4052;
  position: relative;
  font-family: Epilogue;

  cursor: pointer;
}

.rs-menu ul.nav-menu li a:hover {
  color: #d20000;
}
