<div class="rs-breadcrumbs img4">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">Complaint Policy</h1>
      <div class="breadcrumbs-title">
        <span><a title="Help" routerLink="/home-page">Home</a></span>
        <span class="post">Complaint Policy</span>
      </div>
    </div>
  </div>
</div>
<div class="rs-faq privacy-policy-area pt-70 pb-70 md-pt-80 md-pb-80">
  <div class="container">
    <div class="privacy-policy-content">
      <h3 class="animate">Our complaints policy</h3>
      <p>
        We are committed to providing a high-quality money transfer service to
        all our clients. When something goes wrong, we need you to tell us about
        it. This will help us to improve our standards.
      </p>
      <p>If you have a complaint, please contact us with the details.</p>
      <!--<h3>Definitions</h3>-->
      <ul class="lower-alpha-list">
        <li>
          By Email:
          <a href="mailto:info@valutexchange.co.uk">info@valutexchange.co.uk</a>
        </li>
        <li>By Phone: <a href="tel:447776793651">+44 07776793651</a></li>
        <li>By Post: 545b Green Lanes Green Lanes, London, England, N8 0RL</li>
      </ul>
      <h3 class="animate">What will happen next?</h3>
      <ul class="lower-alpha-list">
        <li>
          We will send you a letter/email acknowledging receipt of your
          complaint on the same day of receiving it, enclosing a copy of this
          procedure. If you have complained in person or on call, we will try to
          resolve and reach resolution the same day.
        </li>
        <li>
          If we are unable to resolve your complaint on the same day, then we
          will further investigate your complaint. This will normally involve
          finding details of your complaint, reviewing your matter by speaking
          to the member of staff who interacted with you.
        </li>
        <li>
          We will respond to you within 15 days or in 35 day in exceptional
          circumstances with our Final Response which may be a redress offer or
          remedial action.
        </li>
        <li>
          If you are still not satisfied, you can then contact the Financial
          Ombudsman Service, about your complaint. Normally, you will need to
          bring a complaint to the Financial Ombudsman Service within six months
          of receiving a final written response from us about your complaint.
          For further information, you should contact the Financial Ombudsman
          Service on:
          <ul class="lower-roman-list">
            <li>
              Online:
              <a href="https://www.financial-ombudsman.org.uk/" target="_blank"
                >https://www.financial-ombudsman.org.uk/</a
              >
            </li>
            <li>
              Email:
              <a href="mailto: complaint.info@financial-ombudsman.org.uk"
                >complaint.info@financial-ombudsman.org.uk</a
              >
              ,
            </li>
            <li>
              Mail: The Financial Ombudsman Service Exchange Tower, London, E14
              9SR
            </li>
            <li>
              Phone: <a href="tel:08000234567"> 0800 023 4567 </a>(free),
              <a class="a" href="tel:03001239123"> 0300 123 9123</a>, weekdays
              from 8:00am - 5:00pm (GMT), and on Saturday from 9:00am - 1pm
              (GMT).
            </li>
          </ul>
        </li>
      </ul>
      <p>
        FOS will not charge you any fee for making a complaint and if you are
        not satisfied with the outcome you can still bring legal proceedings. In
        addition, please note that disputes may also be submitted for online
        resolution via the European Online Dispute Resolution Platform
        accessible at:
        <a href="http://ec.europa.eu/odr" target="_blank"
          >http://ec.europa.eu/odr</a
        >
      </p>
    </div>
  </div>
</div>
