
  <fieldset>
    <div class="form-card">
      <div class="row justify-content-center">
        <h4 class="mb-4">Taking Perfect Photo</h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto1.png"
              alt="Taking Perfect Photo"
            />
            <div class="card-body">
              <p class="card-text">
                Make sure the camera has a consistent aspect ratio, so it does
                not stretch the image in any direction.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr class="hrcss" />
      <div class="row justify-content-center">
        <h4 class="mb-4 mt-2">What to avoid?</h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto7.png"
              alt=" What to avoid?"
            />
            <div class="card-body">
              <p class="card-text">
                Avoid shadows on the face or a strong side light.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto3.png"
              alt=" What to avoid?"
            />
            <div class="card-body">
              <p class="card-text">
                Make sure your face is within the circle guidelines shown on the
                screen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto4.png"
              alt=" What to avoid?"
            />
            <div class="card-body">
              <p class="card-text">
                Make sure you are in a well-lit room that is not too dark.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto2.png"
              alt="What to avoid?"
            />
            <div class="card-body">
              <p class="card-text">
                Turn off any filters that might distort the image but keep the
                white light correction ON.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto6.png"
              alt=" What to avoid?"
            />
            <div class="card-body">
              <p class="card-text mb-4">
                Avoid having a light source behind the person's head, such as
                from a window.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto8.png"
              alt=" What to avoid?"
            />
            <div class="card-body">
              <p class="card-text">
                Avoid anything covering the face, such as masks, hats,
                sunglasses or hair flopping over the face.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card cardcss">
            <img
              class="card-img-top"
              src="assets/images/photo/takephoto5.png"
              alt=" What to avoid?"
            />
            <div class="card-body">
              <p class="card-text">
                For active liveness only - When performing actions such as turn
                right, do not over-rotate the face to 90 degrees, an angle of 35
                degrees should be enough. Start with the camera raised so there
                is space to look down.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
