<div class="rs-breadcrumbs img4">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">Privacy Policy</h1>
      <div class="breadcrumbs-title">
        <span><a routerLink="/home-page">Home</a></span>
        <span class="post">Privacy Policy</span>
      </div>
    </div>
  </div>
</div>
<div class="rs-faq privacy-policy-area pt-70 pb-70 md-pt-80 md-pb-80">
  <div class="container">
    <div class="privacy-policy-content">
      <h3 class="animate">Purpose and Scope</h3>
      <p>
        Valut, its affiliates and subsidiaries place a priority on the Data
        Privacy of its employees, contractors, clients, prospective clients,
        service providers and other partners or third parties and on the
        importance of compliance with Data Protection and Privacy laws
        worldwide. Thus, Valut has developed this Policy that outlines and
        explains the appropriate principles concerning collecting, processing,
        transferring and using an individual's Personal Data during everyday
        business.
      </p>
      <p>
        In its collection, use and disclosure of Personal Data, Valut strives to
        balance the needs of managing its business effectively while minimising
        intrusiveness and complying with local legal requirements. In some
        countries, additional requirements beyond this policy may be applied to
        comply with local legislation. Data Protection and Privacy has been and
        will continue to be an integral component of Valut business practices.
      </p>
      <h3 class="animate">Definitions</h3>
      <ul class="decimal-list">
        <li>
          Data Protection or Data Privacy shall mean collection, processing,
          use, storage, security and transmission of Personal Data in compliance
          with applicable law and this Policy as outlined below.
        </li>
        <li>
          Data Subject means the individual natural person associated with any
          Personal Data (i.e., employee, temporary employee, applicant,
          clients/client employees, contractors, service providers or potential
          clients/client employees or other partners to the extent that Personal
          Data is being collected).
        </li>
        <li>
          Personal Data means any information relating to a natural person who
          is identified or is identifiable by some number or characteristic,
          including data on current, past and prospective employees,
          clients/client employees, prospective clients/client employees,
          agents, contractors, service providers and other partners or third
          parties. Examples may include: name, e-mail, postal address, personal
          telephone/fax number, employee number, Social Security/national ID
          number, birth date, salary, stock information, job level, benefits,
          family information, jobs history, training history, address details,
          telephone numbers, background checks and drug testing to the extent
          permitted by local law, details on business cards, etc.
        </li>
        <li>
          Processing Personal Data (processing) means any operation or set of
          operations, which is performed upon Personal Data (whether or not by
          electronic or manual means). This includes collection, recording,
          copying, filing, organizing, storage, adaptation, alteration,
          retrieval, consultation, use and disclosure by transmission,
          dissemination, or otherwise making available Personal Data. It also
          includes the alignment or combination, blocking, erasure or
          destruction of Personal Data.
        </li>
        <li>
          Sensitive Data is a subset of Personal Data and (subject to local
          requirements) may include but are not limited to race or ethnic
          origin, religious or philosophical beliefs, political
          affiliations/opinions, trade union membership, health information,
          sexual orientation, disabilities, certain types of personal financial
          data, etc.
        </li>
        <li>
          Business Need for Personal Data means those functions or duties
          requiring access to Personal Data that are necessary to carry out
          Valut business functions, to comply with local applicable laws, or to
          administer its Human Resources functions. Such business needs include:
        </li>
      </ul>
      <h3 class="animate">Definitions</h3>
      <p>
        Why you need a website? If the answer is to let your existing and future
        clients know your Web presence then Brochure website is perfect solution
        for you. Whether your business is of property construction or hair and
        beauty salon, brochure website can represent your business in
        interactive manner. Our approach:
      </p>
      <ul class="decimal-list">
        <li>Employment records maintenance</li>
        <li>Employee performance reviews and ranking processes</li>
        <li>Wage/stock option planning and administration</li>
        <li>Training administration</li>
        <li>Employment terminations</li>
        <li>Performance reviews and disciplinary records</li>
        <li>Headcount planning and reporting</li>
        <li>Background checks and drug testing</li>
        <li>Expense management</li>
        <li>Pension administration</li>
        <li>Health administration</li>
        <li>Health insurance/benefits</li>
        <li>
          Information on the Company group's intranet that is needed to
          facilitate communication between employees within the Company's group
        </li>
        <li>Equal opportunities monitoring</li>
        <li>
          Any requirement by law (statute, regulation or court ruling) or
          contract to which the individual is a party; a response to
          administrative or judicial process, including a subpoena, search
          warrant or garnishment of wages
        </li>
        <li>
          Cooperation with governmental agencies or law enforcement, to the
          extent required by local law
        </li>
        <li>
          An emergency, which is reasonably believed by Valut to pose a risk of
          harm to person or property or the business interest of Valut
        </li>
        <li>
          Managing, maintaining and developing business relationships with
          clients, prospective clients, service providers and other partners or
          third parties, including but not limited to business development and
          marketing
        </li>
        <li>
          Processing by Valut and its employees of Personal Data held on behalf
          of clients
        </li>
        <li>
          Any additional functions or duties of Valut in connection with the
          proper conduct of Valut business
        </li>
      </ul>
      <h3 class="animate">Data Protection and Privacy Principles</h3>
      <p>
        The Data Protection and Privacy principles below are the foundation of
        this Policy. As such, Valut will, through appropriate management and
        controls on an ongoing basis, monitor implementation of and compliance
        with these principles. It shall be a fundamental principle with Valut
        that any Personal Data shall be processed fairly, sensitively,
        respectfully and in accordance with this Policy and applicable local
        law.
      </p>
      <p>
        <strong>Notice:</strong> Valut will inform individuals about the purpose
        for which it collects Personal Data, how to contact Valut with inquiries
        or complaints, and the administrative process by which the complaints
        will be resolved. Where appropriate, Valut will communicate the types of
        third parties to which Valut discloses Personal Data, and the choices,
        procedures and means Valut offers for limiting use and disclosure of
        personal information will also be provided.
      </p>
      <p>
        <strong>Choice:</strong> Subject to applicable local law and Valut
        policies, general procedures and business requirements Valut will ensure
        that the rights of Data Subjects, about whom Personal Data is held, can
        be fully exercised. This includes the right of an individual to choose
        how their Personal Data provided is used, whether the use of such data
        is incompatible with the original purpose or authorizations, or is
        disclosed to third parties, subject to laws requiring disclosure and
        consent.
      </p>
      <p>
        <strong>Onward Transfer:</strong> Valut will ensure that all transfers
        of Personal Data, whether within or outside of the Valut group, are
        protected by suitable safeguards and in accordance with applicable local
        law. Further, unless required by court or another legal mandate, or
        except as discussed below, Personal Data will only be transferred
        outside of Valut if the receiving party has entered into a Data
        Protection Agreement with Valut or comparable safeguards are in place.
        Where Personal Data is transferred outside of Valut, Valut will ensure
        that any such transfer protects the legitimate interests of Data
        Subjects in line with this Policy and applicable local law.
      </p>
      <p>
        <strong>Security:</strong> Valut is committed to protecting Personal
        Data against unauthorized use or disclosure. To ensure the appropriate
        use of Personal Data, and prevent unauthorized access to such Personal
        Data, as well as prevent loss, alteration or destruction of Personal
        Data. In adherence with Data Protection and Privacy laws worldwide and
        internal Valut policies, Valut will address security at all appropriate
        technology infrastructure points.
      </p>
      <p>
        <strong>Data Integrity:</strong> Valut will collect and process
        appropriate Personal Data only to the extent that there is a Business
        Need for Personal Data, to fulfill operational needs, and/or to comply
        with legal requirements, including those legal requirements of the
        countries in which the Personal Data was collected, as applicable. Valut
        will take reasonable steps to ensure that all Personal Data is relevant,
        accurate, complete, current, and reliable for its intended use. All Data
        Subjects have a responsibility to assist Valut in this effort.
      </p>
      <p>
        <strong>Data Retention:</strong> Valut will not keep Personal Data for
        longer than is necessary for the purpose or purposes, for which it was
        intended, or as required by contractual agreement, by law or regulation,
        by other Valut policies or, where applicable, for the appropriate
        statute of limitations period.
      </p>
      <p>
        <strong>Access:</strong> Upon request, Valut will provide individuals
        with access to their Personal Data and, when appropriate, allow the
        individuals to request that their Personal Data be corrected or updated
        by Valut, as required by law or Valut policies.
      </p>
      <p>
        <strong>Enforcement and Oversight:</strong> Valut will address
        complaints or disputes regarding Personal Data promptly, in an orderly
        fashion and courteously. Valut will provide or, where appropriate,
        endeavor to provide notification to Data Subjects about how to file a
        complaint or inquiry and the administrative process to follow. Valut
        will perform a self-assessment on a regular basis to verify that this
        Policy is communicated, prominently displayed, implemented, and
        accessible. Valut will cooperate with the relevant Data Protection
        Authorities in the investigation and resolution of complaints relating
        to this Policy. Valut will seek, in a timely manner as practicable, to
        comply in good faith with the advice of these authorities.
      </p>
      <p>
        <strong>Training and Audit:</strong> Valut will provide appropriate
        training to all relevant staff handling and dealing with the Processing
        of Personal Data so that any such processing will be carried out in
        accordance with this Policy and applicable law. Valut will further
        ensure that Data Protection and Privacy is subject to periodic audit.
      </p>
      <h3 class="animate">Transferring your data outside the "EEA"</h3>
      <p>
        We may transfer your data outside the European Economic Area (the
        "EEA").
      </p>
      <p>
        Some of those countries have a European Commission adequacy decision,
        which means they are considered to offer an adequate level of data
        protection. Other countries do not have the same level of legal
        protection as countries in the EEA, or with an
        <a
          href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/adequacy-decisions_en"
          target="_blank"
          >adequacy decision.</a
        >
        If we do transfer your data in this way, we will take steps to ensure
        that it is protected to the same levels that apply in the EEA. This may
        include, for example, ensuring that the organisation receiving the data
        is registered with the EU-US Privacy Shield (in the case of transfers to
        the USA), or that we use the EU's
        <a
          href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_en"
          target="_blank"
        >
          model contractual clauses.</a
        >
      </p>
      <h3 class="animate">Covered Entities</h3>
      <p>
        Valut entities and all non- Valut entities (e.g., agents, contractors,
        outsource service providers and processors) accessing or processing
        Personal Data are required to comply with this Policy with respect to
        such Personal Data.
      </p>
      <h3 class="animate">Responsibilities</h3>
      <p>
        The Data Officer is primarily responsible for adopting, implementing,
        and maintaining this Policy.
      </p>
      <p>
        The responsibility for the implementation of the Policy lies with every
        employee and manager, whether the Personal Data is in the form of manual
        records, computer data or arises from communication with employees and
        Data Subjects both online (electronic) or off line (manual records).
        Implementation requirements will include the development of notice and
        consent forms to provide to managers and Data Subjects where required by
        applicable laws. Employees, agents, contractors and their employees are
        individually responsible for providing/maintaining accurate information
        and for protecting the personal information that Valut has about any
        individual in support of the implementation of this Policy. Employees
        who violate this Policy or applicable legal requirements are subject to
        discipline, up to and including termination of employment, dependent on
        the severity of the violation. Agents or contractors or their employees
        who violate this Policy or applicable legal requirements are subject to
        termination and/or other contractual penalties. Employees, agents and
        contractors should also be aware that if they knowingly or recklessly
        obtain or divulge Personal Data without Valut consent, they may be
        committing a criminal offence.
      </p>
      <h3 class="animate">Data Privacy Investigation and Dispute Resolution</h3>
      <p>
        Human Resources will address any complaints or disputes regarding
        Personal Data promptly and courteously, and will follow all applicable
        laws to respond to the complaint. This includes inquiries from Data
        Subjects, employee councils, management sponsors, or regulatory
        authorities.
      </p>
      <p>
        A responsible person designated by management will handle investigations
        regarding non-compliance with this Policy. All investigations will be
        handled under the legal requirements of the geographic area where the
        investigation is taking place.
      </p>
      <h3 class="animate">Access to Personal Data</h3>
      <p>
        The Data Officer is responsible for maintaining and safeguarding
        Personal Data, and for ensuring that access to such Personal Data is
        restricted to persons who have a job-related "need to know" or who have
        documented access rights. Covered entities may have access to Personal
        Data on a business related need to know for purposes generally
        compatible with the collection of the Personal Data.
      </p>
      <p>
        Data Subjects may review the contents of any files as requested pursuant
        to the access principles detailed above and subject to other Valut
        policies. All Data Subjects must authenticate themselves based on online
        or offline standards (i.e., pass codes) set by Valut before gaining
        access. Data Subject may request a copy of documents, but under no
        circumstances will an individual be allowed to remove any documents from
        the file or be allowed to remove the original file from Valut. Certain
        confidential files, such as investigative files, will not be accessible
        to Data Subjects, in particular employees.
      </p>
      <h3 class="animate">Verification of Employment</h3>
      <p>
        Regarding any requests for information concerning an Valut employee's
        status which may be received from non-Valut entities, only members of
        the human resources department are authorized to release any information
        and this will be restricted to confirmation of current employment
        including the employee's name, the most recent job title and the dates
        of Valut employment. Additional information will not be provided without
        the employee's authorization.
      </p>
      <h3 class="animate">Cookies</h3>
      <p>
        To opt out of being tracked by Google Analytics across all websites
        visit
        <a href="https://tools.google.com/dlpage/gaoptout" target="_blank"
          >http//tools.google.com/dlpage/gaoptout</a
        >
      </p>
      <p>Use of Universal Analytics (Google)</p>
      <ul class="lower-roman-list">
        <li>_ga</li>
        <li>_gali</li>
        <li>_gat_ UA 112356073-1</li>
        <li>_gid</li>
      </ul>
      <p>
        <strong>Purpose:</strong> These cookies collect information about how
        visitors use our website. We use the information to compile reports and
        to make improvements. The cookies collect information in an anonymous
        form, including where visitors have come to the website from and the
        pages they visited.
      </p>
      <h3 class="animate">Contacting us</h3>
      <p>
        If you have any questions regarding this notice, or any questions
        relating to data protection or privacy, you can contact us at
        <a href="mailto:info@valutexchange.co.uk">info@valutexchange.co.uk</a>
      </p>
      <h3 class="animate">Changes to Policy</h3>
      <p>
        Valut may from time to time amend this Policy to reflect changes in any
        applicable legislation. Valut will notify Data Subjects of such
        amendments as soon as reasonably practicable.
      </p>
    </div>
  </div>
</div>
