.scroll-to-top {
    text-align: center;
    bottom: 40px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    z-index: 999;
    border-radius: 50px 50px 4px 4px;
}

.scroll-to-top i {
    height: 40px;
    font-size: 24px;
    width: 42px;
    border-radius: 0 10px 0 10px;
    color: #fff;
    line-height: 36px;
    transition: all 0.3s ease 0s;
    background: #d20000;
    margin-left: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04);
    display: block;
}

.scroll-to-top i::before {
    font-weight: 900;
}

.scroll-to-top i:hover {
    opacity: .8;
}