
.rs-faq.faq-style1 {
    position: relative;
}

.rs-faq.faq-style1 {
    position: relative;
}
.fadeInUp {
    animation-duration: 1.25s;
    animation-name: fadeInUp;
}
::selection {
    background: #d20000;
    text-shadow: none;
    color: #ffffff;
}
@keyframes fadeInUp{
0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}
100% {
    opacity: 1;
    transform: none;
}
}