<fieldset>
    <div class="form-card">
       <div class="row justify-content-center">
          <div class="col-12 col-md-4 col-lg-4">
             <div class="card cardcss">
                <img class="card-img-top" src="assets/images/photo/finishimg.png" alt="Finish Image">
                <div class="card-body">
                   <p class="card-text">On completion of your IDScan and Liveness check you will get a success screen to confirm completion of onboarding.</p>
                </div>
             </div>
          </div>
       </div>
       <div class="row justify-content-center">
          <div class="col-12 text-center">
             <h5 class="purple-text text-center">If you have any further questions then please visit our Onboarding FAQs page.</h5>
          </div>
          <a href="onboarding-faq" class="next action-button text-center">FAQs</a>
       </div>
    </div>
 </fieldset>
