<div class="rs-breadcrumbs img4">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">Refer A Friend</h1>
      <div class="breadcrumbs-title">
        <span><a routerLink="/home-page">Home</a></span>
        <span class="post">Refer A Friend</span>
      </div>
    </div>
  </div>
</div>
<div class="rs-choose choose-style1 pt-70 pb-70 md-pt-80 md-pb-80">
  <div class="container">
    <div class="row y-middle">
      <div class="col-lg-6 md-mb-50">
        <div class="rs-videos">
          <div class="images-video">
            <img src="assets/images/refer-a-friend.jpg" alt="Refer A Friend" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 pl-50 md-pl-15 pr-36 md-pr-15">
        <div class="sec-title mb-30">
          <span class="sub-text">Refer A Friend</span>
          <h2 class="title">Rewards For You &amp; Your Friends</h2>
          <p>
            When your friend signs-up using your referral link and transfers
            £50, we add £5 to your account balance to be used towards your next
            transfer.
          </p>
        </div>
        <div class="services-item mb-20">
          <div class="services-icon">
            <img
              src="assets/images/icons/rf-step-1.png"
              alt="Share a referral link"
            />
          </div>
          <div class="services-content">
            <h3 class="title">1. Share a referral link</h3>
            <p class="services-txt">
              Go to the Refer a Friend page, login, and then invite friends by
              sharing your personal referral link.
            </p>
          </div>
        </div>
        <div class="services-item mb-20">
          <div class="services-icon">
            <img
              src="assets/images/icons/rf-step-2.png"
              alt="Invite friends to send money"
            />
          </div>
          <div class="services-content">
            <h3 class="title">2. Invite friends to send money</h3>
            <p class="services-txt">
              Your friends will get the benefit of sending money to their loved
              ones and can invite further friends.
            </p>
          </div>
        </div>
        <div class="services-item">
          <div class="services-icon">
            <img src="assets/images/icons/rf-step-3.png" alt="Get rewarded" />
          </div>
          <div class="services-content">
            <h3 class="title">3. Get rewarded</h3>
            <p class="services-txt">
              You will get rewarded £5 for each referral after your friends
              register themselves and make minimum transfer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
