<div id="rs-banner" class="rs-banner banner-main-home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content-wrap">
          <span class="sl-subtitle">Instant Money Transfer</span>
          <h1 class="title">Transfer Money to Albania</h1>
          <p class="sl-desc">Reliable. Trustworthy. Seamless. Transparent.</p>
          <a href="#" target="_blank">
            <img class="mr-3" src="assets/images/footer/playstore.png" alt=""
          /></a>
          <a href="#" target="_blank">
            <img src="assets/images/footer/appstore.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rs-services services-style1 pt-70 pb-70 md-pt-80 md-pb-80">
  <div class="container">
    <div class="sec-title text-center mb-40 md-mb-25">
      <span class="sub-text">How We Work</span>
      <h2 class="title">
        You can send money with the following four easy steps
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-20">
        <div class="services-item">
          <div class="services-wrap">
            <div class="serial-number">01</div>
            <div class="services-icon">
              <img
                src="assets/images/services/style1/customer.png"
                alt="Create Account"
              />
            </div>
            <div class="services-content">
              <h3 class="title">Create Account</h3>
              <p class="services-txt mb-4">
                Download our app and signup within minutes. It's easy and free.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-20">
        <div class="services-item">
          <div class="services-wrap">
            <div class="serial-number">02</div>
            <div class="services-icon">
              <img
                src="assets/images/services/style1/transfer.png"
                alt="Set up a transfer"
              />
            </div>
            <div class="services-content">
              <h3 class="title">Set up a transfer</h3>
              <p class="services-txt">
                Add beneficiary and enter an amount to send or amount to receive
                in foreign currency.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-20">
        <div class="services-item">
          <div class="services-wrap">
            <div class="serial-number">03</div>
            <div class="services-icon">
              <img
                src="assets/images/services/style1/securely.png"
                alt="Pay securely"
              />
            </div>
            <div class="services-content">
              <h3 class="title">Pay securely</h3>
              <p class="services-txt">
                Pay using Bank Transfer. This is the most secure and quickest
                way to receive your payment.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 md-mb-20">
        <div class="services-item">
          <div class="services-wrap">
            <div class="serial-number">04</div>
            <div class="services-icon">
              <img
                src="assets/images/services/style1/done.png"
                alt="That's it!"
              />
            </div>
            <div class="services-content">
              <h3 class="title">That's it!</h3>
              <p class="services-txt">
                Track your transfer from the app. We payout to beneficiary as
                promised in delivery method.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rs-process process-style1 pt-70 pb-70 md-pt-80 md-pb-80 gray-bg">
  <div class="container">
    <div class="sec-title text-center mb-40 md-mb-25">
      <span class="sub-text">Reasons To Choose Us</span>
      <h2 class="title">
        Why you should choose Valut for your money transfer services
      </h2>
    </div>
    <div class="row process-widgets">
      <div class="col-lg-4 mb-20">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="assets/images/services/style1/transfer-money.png"
              alt="Innovative"
            />
          </div>
          <div class="services-content">
            <h3 class="title">Innovative</h3>
            <p class="services-txt">
              We offer many ways to transfer money with ease and maximum
              convenience, whether online or over the phone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-20">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="assets/images/services/style1/fast-money.png"
              alt="We're Fast"
            />
          </div>
          <div class="services-content">
            <h3 class="title">We're Fast</h3>
            <p class="services-txt">
              Whether you need to transfer money to friends or family across the
              globe, Valut gets your funds there quickly and reliably.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-20">
        <div class="services-item">
          <div class="services-icon">
            <img
              src="assets/images/services/style1/low-cost.png"
              alt="We're Low-cost"
            />
          </div>
          <div class="services-content">
            <h3 class="title">We're Low-cost</h3>
            <p class="services-txt">
              Our pricing is highly competitive and fully transparent, Compare
              us with the competition. You save more with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="rs-about" class="rs-about about-style2 pb-120 md-pb-70">
  <div class="container">
    <div class="row y-middle">
      <div class="col-lg-6 md-mb-50">
        <div class="images-part">
          <img
            class=""
            src="assets/images/about/style2/about-3-2.png"
            alt="Valut Mobile app"
          />
          <div class="dot-shape">
            <img
              class="up-down"
              src="assets/images/about/style2/shape-1.png"
              alt="Images"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 pl-20 md-pl-15 pr-30 md-pr-15">
        <div class="sec-title">
          <span class="sub-text">Download App</span>
          <h2 class="title title3 pb-25">
            A Fast and secure way to send money on the go...
          </h2>
          <p class="desc desc2">
            You can transfer money at home or on the move with our award-winning
            app.
          </p>
          <ul class="check-lists">
            <li>Save time with Repeat Transfer</li>
            <li>Track your transfer in Real Time</li>
            <li>Pay using your favourite Payment Method</li>
            <li>Get instant help or read our FAQs</li>
          </ul>
        </div>
        <div class="btn-part mt-46">
          <a href="#" target="_blank">
            <img class="mr-3" src="assets/images/footer/playstore.png" alt=""
          /></a>
          <a href="#" target="_blank">
            <img src="assets/images/footer/appstore.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
