.privacy-policy-content h3 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #032e42;
    margin: 0;
    padding-bottom: 20px;
}
.privacy-policy-content p {
    color: #333333;
    margin: 0;
    padding-bottom: 15px;
}
.privacy-policy-content ol, .privacy-policy-content ul {
    padding-bottom: 15px;
}
.upper-alpha-list {
    list-style: upper-alpha;
}
.privacy-policy-content ol li, .privacy-policy-content ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #032e42;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    margin-left: 25px;
}
